.wrap
{
    max-width: 1020px;
    margin: auto;
}

.form-group
{
    position: relative;
    margin-bottom: 19px;
}

label {
    cursor: default;
    opacity: .8;
}

label, input
{
    display: block;
    margin: .5rem 0;
    width: 100% !important;
}

#wp_spinner
{
    float:none;
    width:50px;
    height:auto;
    padding:14px 0;
    background-position:20px 0;
}
